Package: bsignage
Version: 1.0.0-1
Section: misc
Priority: optional
Architecture: all
Depends: bash, firefox-esr, openbox, lightdm, xorg, x11-xserver-utils
Maintainer: Massimo Barbieri
Description: Simple Firefox based digital signage kiosk
 Bsignage displays a sequence of websites in Firefox kiosk mode,
 switching between URLs according to the configured time intervals.
